* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: whitesmoke;
}

.wrapper .sidebar {
  background: #191827;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .logo {
  margin-bottom: 45px;
  text-align: center;
}

.wrapper .sidebar .logo img {
  display: block;
  width: 180px;
  height: auto;
  margin: 10px auto;
  cursor: pointer;
}

.wrapper .sidebar .logo h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .logo p {
  color: #e9baed;
  font-size: 14px;
}

#brand_con {
  margin-bottom: 50px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  color: #fff;
  font-size: 16px;
  position: relative;
  font-size: 1.2rem;
  font-weight: normal;
}

.wrapper .sidebar ul li #logo_m {
  color: #e9baed;
  font-family: Gilroy Extrabold !important;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.active {
  background-color: whitesmoke;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #e9baed;
  border-right: 2px solid #191827;
}

.wrapper .sidebar ul li a.active {
  background-color: whitesmoke;
}

#home {
  font-family: Gilroy Extrabold;
  font-size: 1.4rem;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #191827;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

#brand_name,
#brand_name2 {
  font-family: Gilroy Extrabold !important;
  color: #e9baed;
}

#brand_name {
  cursor: text;
}

#brand_name2 {
  cursor: default;
}

#t_1,
#t_2 {
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  margin-bottom: 20px;
}
